<h1>Cadastro de Eventos</h1>

<form>
  <div>
    <label>Evento</label>
    <input type="text" id="title" name="title" placeholder="Evento" [(ngModel)]="newEvent.title">
  </div>
  <div>
    <label>Autor</label>
    <input type="text" id="author" name="author" placeholder="Autor" [(ngModel)]="newEvent.author">
  </div>

  <input type="button" value="Salvar" (click)="save()">
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Evento</th>
      <th>Autor</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of events">
      <td>{{ e.id }}</td>
      <td>{{ e.title }}</td>
      <td>{{ e.author }}</td>
      <td><input type="button" value="Editar" (click)="edit(e)"></td>
      <td><input type="button" value="Remover" (click)="delete(e)"></td>
    </tr>
  </tbody>
</table>